.sidebar {
  float: left;
  padding: 20px;
}

.sidebar .form-group {
  margin-bottom: 20px;
}

.sidebar label {
  display: block;
  margin-bottom: 6px;
}

.sidebar input {
  font-size: 14px;
  min-width: 200px;
  padding: 10px;
}

.main {
  float: left;
  width: 60%;
}