@import '../node_modules/purecss/build/grids.css';
@import '../node_modules/purecss/build/grids-responsive.css';

$blue: rgb(61, 79, 93);
$light-blue: rgb(84, 102, 116);
$lighter-blue: rgb(176, 202, 219);
$lightest-blue: rgb(228, 241, 251);

.sidebar {
  background-color: $blue;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1em;

  h2 {
    color: $lightest-blue;
    margin-top: 0;
  }

  .form-group {
    margin-bottom: 1em;

    input {
      background-color: $light-blue;
      border: 1px solid $blue;
      box-sizing: border-box;
      color: $lightest-blue;
      display: block;
      font-size: 1em;
      padding: 0.8em;
      width: 100%;
    }

    label {
      color: $lighter-blue;
      display: inline-block;
      font-size: 0.9em;
      margin-bottom: 0.2em;
    }

    select {
      -webkit-appearance: none;
      background-color: $light-blue;
      border: 1px solid $blue;
      border-radius: 0;
      color: $lightest-blue;
      display: block;
      font-size: 1em;
      padding: 0.8em;
      width: 100%;
    }
  }
}

.content {
  box-sizing: border-box;
  padding: 1em;

  h2 {
    margin-top: 0;
  }
}

.quick-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;

  .quick-result {
    border: 1px solid $blue;
    padding: 1em;

    h3 {
      color: $light-blue;
      margin: 0;
    }

    .quick-result-figure {
      color: $blue;
      font-size: 36px;
    }
  }
}